<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.designpattern">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DesignPatternMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".basic.iterator.IteratorPatternActivity"/>
        <activity android:name=".basic.adapter.AdapterPatternActivity"/>
        <activity android:name=".basic.templatemethod.TemplateMethodPatternActivity"/>
        <activity android:name=".basic.factorymethod.FactoryMethodPatternActivity"/>
        <activity android:name=".basic.singleton.SingletonPatternActivity"/>
        <activity android:name=".basic.prototype.PrototypePatternActivity"/>
        <activity android:name=".basic.builder.BuilderPatternActivity"/>
        <activity android:name=".basic.abstractfactory.AbstractFactoryPatternActivity"/>
        <activity android:name=".basic.bridge.BridgePatternActivity"/>
        <activity android:name=".basic.strategy.StrategyPatternActivity"/>
        <activity android:name=".basic.composite.CompositePatternActivity"/>
        <activity android:name=".basic.decorator.DecoratorPatternActivity"/>
        <activity android:name=".basic.visitor.VisitorPatternActivity"/>
        <activity android:name=".basic.chainofresponsibility.ChainOfResponsibilityPatternActivity"/>
        <activity android:name=".basic.facade.FacadePatternActivity"/>
        <activity android:name=".basic.madiator.MediatorPatternActivity"/>
        <activity android:name=".basic.observer.ObserverPatternActivity"/>
        <activity android:name=".basic.memento.MementoPatternActivity"/>
        <activity android:name=".basic.state.StatePatternActivity"/>
        <activity android:name=".basic.flyweight.FlyweightPatternActivity"/>
        <activity android:name=".basic.proxy.ProxyPatternActivity"/>
        <activity android:name=".basic.command.CommandPatternActivity"/>
        <activity android:name=".basic.interpreter.InterpreterPatternActivity"/>

    </application>

</manifest>