<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.designpattern">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DesignPatternMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".basic.iterator.IteratorPattern"/>
        <activity android:name=".basic.adapter.AdapterPattern"/>
        <activity android:name=".basic.templatemethod.TemplateMethodPattern"/>
        <activity android:name=".basic.factorymethod.FactoryMethodPattern"/>
        <activity android:name=".basic.singleton.SingletonPattern"/>
        <activity android:name=".basic.prototype.PrototypePattern"/>
        <activity android:name=".basic.builder.BuilderPattern"/>
        <activity android:name=".basic.abstractfactory.AbstractFactoryPattern"/>
        <activity android:name=".basic.bridge.BridgePattern"/>
        <activity android:name=".basic.strategy.StrategyPattern"/>
        <activity android:name=".basic.composite.CompositePattern"/>
        <activity android:name=".basic.decorator.DecoratorPattern"/>
        <activity android:name=".basic.visitor.VisitorPattern"/>
        <activity android:name=".basic.chainofresponsibility.ChainOfResponsibilityPattern"/>
        <activity android:name=".basic.facade.FacadePattern"/>
        <activity android:name=".basic.madiator.MediatorPattern"/>
        <activity android:name=".basic.observer.ObserverPattern"/>
        <activity android:name=".basic.memento.MementoPattern"/>
        <activity android:name=".basic.state.StatePattern"/>
        <activity android:name=".basic.flyweight.FlyweightPattern"/>
        <activity android:name=".basic.proxy.ProxyPattern"/>
        <activity android:name=".basic.command.CommandPattern"/>
        <activity android:name=".basic.interpreter.InterpreterPattern"/>

        <!--Multi thread-->
        <activity android:name=".multithread.singlethread.SingleThreadExecutionPattern"/>
        <activity android:name=".multithread.immutable.ImmutablePattern"/>
        <activity android:name=".multithread.guardedsuspension.GuardedSuspensionPattern"/>
        <activity android:name=".multithread.balking.BalkingPattern"/>
        <activity android:name=".multithread.producerconsumer.ProducerConsumerPattern"/>

    </application>

</manifest>